@font-face {
    font-family:"bitbit";
    src:url('bitbit.ttf');
}
* {
    margin : 0;
    padding : 0;
    font-family: "bitbit";
}
a {
    text-decoration : none;
}
body {
    margin : 0 auto;
    width: 800px; height: 600px;
}
.offScreen {
    display:none;
}

#startScreen {
    width: 800px; height: 600px;
    background-image: url("startScreenBackground.jpg");
    background-size: 800px 600px;
}

#startScreen p {
    padding: 35px 0 50px 335px;
    font-size: 60px;
    color: white;
    text-shadow: -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;
}

#startScreen span {
    color: red;
}

#startScreen button {
    background: none;
    border: none;
    display: block;
    margin: 5px 50px;
    width: 200px; height: 80px;
    font-size: 50px;
    text-align: left;
    color: white;
    text-shadow: -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;
}

#settingScreen {
    background-image: url("settingScreenBackground.jpg");
    background-size: 800px 600px;
    position: relative;
    overflow: hidden;
    width: 800px; height: 600px;
    background-color: skyblue;
    color: white;
    text-shadow: -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;
}

#settingScreen #title {
    margin-left: 100px;
    margin-bottom: 80px;
    line-height: 200px;
    font-size: 75px;
}

#settingScreen img {
    position: absolute;
    top: 69px;
    right: 100px;
    width: 60px;
}

#settingScreen p {
    display: block;
    float: left;
    margin: 10px 20px 10px 90px;
    font-size: 30px;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

#settingScreen #indent {
    margin-left: 114px;
}

#settingScreen input {
    display: block;
    float: left;
    margin: 15px 0 15px 75px;
    width: 300px;
}

#storyScreen {
    width: 800px; height: 600px;
    background-color: gray;
}

.storyScene {
    width: 800px; height: 600px;
    background-color: black;
}

#caption {
    margin: 20px 160px;
    font-size: 30px;
    color: white;
}

#img_scene {
    padding: 100px 150px 0 150px;
    width: 500px; height: 300px;
}

#skipButton {
    position: absolute;
    top: 550px;
    width: 790px; height: 50px;
    color: white;
    font-size: 30px;
    line-height: 50px;
    text-align: right;
    z-index: 1;
}

#main_game {
    width: 800px; height: 600px;
    background-color: gray;
}

.Hp_bar{
    width:798px; height: 20px;
    background-color: lightgrey;
}

#prog{
    width: 100%;
    background-color: red;
    border: 1px solid black;
    overflow: visible;
    white-space: nowrap;

}

canvas {
    width: 800px; height: 580px;
}

#score_display{
        position:absolute;
        z-index: 2;
        top:7px;right:20px;
        color: white;
        font-size: 20px;
}

@keyframes flash {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}

#spaceTab {
    position: absolute;
    z-index: 2;
    top: 400px;
    right: 250px;
    width: 300px; height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border: 4px solid black;
    border-radius: 15px;
    animation: flash 1s infinite;
}

#key_game {
    padding: 20px;
    width:400px;
    height:100px;
    border-style: 1px solid black;   
    background-color: white;
    border-radius: 15px;
}

#key_zone {
    position: relative;
    width:400px;
    height:80px;
}

#firstFocus {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    width: 74px; height: 84px;
    border: 3px solid darkorange;
    border-radius: 15px;
}

.input_keys {
    float:left;
    padding: 10px 5px;
}

.key_img {
    width:70px;
    height:70px;
}

.game_CountBar {
    width: 360px;
    height:10px;
    margin : 20px auto 0 auto;
    border:1px solid rgb(233,8,8);
    background-color:rgba(189,184,184,0.788);
}

.game_CountBar div {
    width:100%;
    height:10px;
    background-color:red;
}

#key_game_textField {
    opacity:0;
}

#board_game {
    width: 550px; height: 550px;
    background-color: white;
}

#board {
    width: 480px;
    height: 480px;
    background-color: lightblue;
    border: 10px solid #0c67ae;

    margin: 15px 25px 0 25px;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 98px;
    height: 98px;
    /*border: 1px solid #0c67ae;*/
}

#board_game p {
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
}

#whack-a-male_game {
    background-color: white;
}

#moleground{
    background-image: url("wamBackground.jpg");
    background-size: 800px 600px;
    position: relative;
    width : 800px; height : 600px;
}
#mole{
    position: absolute;
    height : 100px;
    width : 100px;
}

.endingScreen {
    position: absolute;
    top: 0;
    width: 800px; height: 600px;
    background-color: black;
    color: white;
    font-size: 150px;
    line-height: 600px;
    text-align: center;
    text-shadow: 10px 10px 0 gray;
}
.endingScore{
    position: absolute;
    top:100px;
    width: 800px;
    font-size: 80px;
    text-align: center;
    text-shadow: 10px 10px 0 gray;
    color: white;
}


.count {
    position: fixed;
    width: 800px; height: 600px;
    font-size: 100px;
    line-height: 600px;
    text-align: center;
}

.curtain {
    position: absolute;
    top: 0;
    width: 800px; height: 600px;
    background-color: black;
}

#waitScreen {
    position: absolute;
    top: 0;
    width: 800px; height: 600px;
    background-color: gray;
    opacity: 0.5;
}

.miniGame {
    position: absolute;
    top: 0;
    border: 3px solid black;
}